[Unit]
Description=Run Microscope Stepper Scheduler Every Minute

[Timer]
OnCalendar=*-*-* *:*:00
Persistent=true
AccuracySec=1s
Unit=stepper-scheduler.service

[Install]
WantedBy=timers.target
