NEXT_PUBLIC_PI_BACKEND_URL=http://192.168.1.43:5000

# Raspberry Pi backend
STEPPER_BACKEND_HOST=0.0.0.0
STEPPER_BACKEND_PORT=5000
STEPPER_BACKEND_DEBUG=0
STEPPER_PI_HOME=/home/dank
STEPPER_SERIAL_PORT=/dev/ttyUSB0
STEPPER_BAUD_RATE=9600
STEPPER_BLUE_LIGHT_PIN=21
STEPPER_DEFAULT_EXPOSURE_US=50000
